{{page-title "Login"}}
<div class="container-login-section">
    <div class="container-login">
        <label for="identification" class="form-register-labels">Email</label>
        <input class="login-input" type="text"  id="identification" aria-describedby="emailHelp" id='identification' value={{this.identification}} {{on "change" this.updateIdentification}}>
        
        <label for= "password" class="form-register-labels">Senha</label>
        <input class="login-input" type="password"  id="password" value={{this.password}} {{on "change" this.updatePassword}}>
        
        <button class="buy-button-regular" {{on "click" this.authenticate}}>Entrar</button>

        <LinkTo @route="index">Index</LinkTo>
    </div>
</div>
{{outlet}}