{{page-title "Login"}}
        <label for="identification">Email</label>
        <input type="text"  id="identification" aria-describedby="emailHelp" id='identification' value={{this.identification}} {{on "change" this.updateIdentification}}>
        
        <label for= "password">Senha</label>
        <input type="password"  id="password" value={{this.password}} {{on "change" this.updatePassword}}>
        
        <button {{on "click" this.authenticate}}>Entrar</button>

<LinkTo @route="index">Index</LinkTo>
{{outlet}}